# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# IDE files
.idea/
.vscode/

# Build and packaging artifacts
backup/
dist/
build/
*.exe
*.dll
*.pyd
*.so
*.dylib
*.zip
*.nupkg
*.nupkg.sha512
*.bak

# Logs
*.log
